//
// Articles
// --------------------------------------------------


// Core variables
@import 'public/variables';


// Base styles
// -------------------------

.articles {
  font-size: 16px;

  .well {
    padding: 40px;
  }

  .page-header,
  .page-header > h1 {
    margin-top: 0;
  }

  code {
    display: inline-block;
    margin: 2px 0;
  }

  .label-client,
  .label-server,
  .label-shared {
    display: inline-block;
    margin: 2px 0;
  }

  .label-client {
    border-color: rgba(168, 168, 123, 1);
    color: rgba(168, 168, 123, 1);
  }

  .label-server {
    border-color: rgba(123, 158, 168, 1);
    color: rgba(123, 158, 168, 1);
  }

  .label-shared {
    border-color: rgba(132, 168, 123, 1);
    color: rgba(132, 168, 123, 1);
  }

  .panel {
    .table > thead > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > th,
    .table > tbody > tr > td,
    .table > tfoot > tr > th,
    .table > tfoot > tr > td {
      padding: 8px 15px;
    }
  }

  .well p:last-child,
  .well ul:last-child,
  .well .panel:last-child {
    margin-bottom: 0;
  }
}
